/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Nanum Pen Script", cursive;
}
#wrapper{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: fuchsia;
}
#wrapper h1{
    font-size: 60px;
    font-weight: 600;
}